
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body{
    .text-value-rt{
        margin: 0;
        padding: 0;
    }

    .ant-typography{
        color: #1C2E35;
    }
}